@charset "UTF-8";

/*
	이 문서는, 외부 css를 정의한 문서입니다.
	이 문서에서는 css만 정의해서 저장하면 됩니다.
*/

.test {
	border : 1px solid red;
	font-family: 궁서체;
	width: 500px;
	height: 50px;
	font-size: 20pt;
}

div#myid{
	width: 500px;
	height: 50px;
	background-color: yellow;
	color: cyan;
	font-size: 15pt;
}